<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>DOCTOR!!!</h1>
        <div class="page"></div>
    </div>

    <script src="js/library/underscore.js"></script>
    <script src="js/library/jquery.min.js"></script>
    <script src="js/library/backbone.js"></script>

    <script src="js/template/home.js"></script>

    <script type="text/template" id="Search-template">
        <table class="table">
            <thead>
                <tr>
                    <th>Phone Name</th>
                    <th>Description</th>
                    <th>Image Preview</th>
                    <th>Detail</th>
                </tr>
            </thead>
                <% _.each(phones, function(phone) {
                    phone.id = phone.get('id');
                %>
                    <tr>
                        <td><%= phone.get('name') %></td>
                        <td><%= phone.get('snippet') %></td>
                        <td><img src="<%= phone.get('imageUrl')%>" /></td>
                        <td><a href="#detail/<%= phone.id %>" class="btn">Detail</a></td>
                    </tr>
                <% }); %>
            <tbody>
            </tbody>
        </table>
        <hr />
        <button class="btn btn-primary back">Back</button>
    </script>

    <script type="text/template" id="phone-detail">
        <p>page not exist</p>
    </script>

    <script>

        $.ajaxPrefilter(function(options){
            options.url = 'http://10.200.1.200/edward/backbone/' + options.url;
        });

        $.fn.serializeObj = function serializeObj(){
            var serializeObj = {};
            var array = this.serializeArray();
            $(array).each(function(){
                if(serializeObj[this.name]){
                    if($.isArray(serializeObj[this.name])){
                        serializeObj[this.name].push(this.value);
                    } else {
                        serializeObj[this.name] = [serializeObj[this.name],this.value]
                    }
                } else {
                    serializeObj[this.name] = this.value;
                }
            });
            return serializeObj;
        };

        function handleURL(url){
            var arr = url.split('&');
            var result = {};
            for(var i = 0; i < arr.length; i++){
                var index = arr[i].indexOf('=');
                var key = arr[i].substring(0,index);
                result[key] = arr[i].substring(index+1);
            }
            return result;
        }

        var Phone = Backbone.Model.extend({
            urlRoot: 'php/detail.php',
            url: function(){
                return this.urlRoot;
            }
        });

        var Phones = Backbone.Collection.extend({
            url: 'phones/phones.json'
        });

        var phones = new Phones();

        var Home = Backbone.View.extend({
           el: ".page",
            render: function(){
                var template = _.template($('#home-templete').html());
                this.$el.html(template);
            },
            events: {
                'click .back': 'back',
                'submit .find-your-phone': 'submit'
            },
            back:function(){
                window.location.href="http://10.200.1.200/edward/backbone";
            },
            submit:function(ev) {
                var that = this;
                phones.fetch({
                    success: function(){
                        router.navigate('Search', ({trigger:true}));
                    }
                });
                return false;
            }
        });

        var DoctorDetail = Backbone.View.extend({
            el: '.page',
            render: function(options){
                var phone = new Phone({id: options.id});
                phone.fetch({
                    success: function(detail){
                        console.log(detail);
                        router.navigate('Search',{trigger:true});
                    }
                });
            }
        });

        var Search = Backbone.View.extend({
            el: '.page',
            render: function(){
                var template = _.template($('#Search-template').html(),{phones:phones.models});
                this.$el.html(template);
            }
        });

        var Router = Backbone.Router.extend({

            routes: {
                '': 'home',
                'Search': 'Search',
                'detail/:id': 'detail'
            },

            home: function() {
                var home = new Home();
                home.render();
            },

            Search:function() {
                var search = new Search();
                search.render();
            },

            detail: function(id) {
                //var doctor = new DoctorDetail();
                //doctor.render({id:id});
            }

        });
        var router = new Router();
        Backbone.history.start();

    </script>
</body>
</html>